.slide-pane {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    margin: auto;
    transition: transform 0.5s;
    will-change: transform;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.slide-pane:focus {
    outline-style: none;
}

.slide-pane_from_bottom {
    height: 80vh;
    margin-top: 20vh;
    transform: translateY(100%);
}

.slide-pane_from_bottom.content-after-open {
    transform: translateY(0%);
}

.slide-pane_from_bottom.content-before-close {
    transform: translateY(100%);
}

.slide-pane__overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0);
}

.slide-pane__overlay.overlay-after-open {
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 0.5s;
}

.slide-pane__overlay.overlay-before-close {
    background-color: rgba(0, 0, 0, 0);
}

.slide-pane__header {
    display: flex;
    align-items: center;
    justify-content: center;
}